<%= partial('layout_header'); %>
  <body>
    <div class="wrapper">
      <header class="site">
        <a href="/">
          <div class="container">
            <div class="col-md-6">
              <section class="c">
                <div id="logo">
                  <img src="/img/logo.jpg"/>
                </div>
              </section>

            </div>
            <div class="col-md-6 headline">
              September 20th - 21st, 2014 <br/>
              Hamburg
            </div>

          </div>
        </a>
      </header>
      <nav class="menu">
        <div class="text-center">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="http://www.php-unconference.de/php-unconference/">PHP Unconf</a></li>
          </ul>
        </div>
      </nav>
      <div class="container content">
        <%- displayFlash(flash); %>
        <%- render(); %>
      </div>
      <footer class="footer">
        <div class="container">
          <ul class="hidden-xs pull-left">
            <li>made with &hearts;</li>
          </ul>
          <ul class="pull-right">
            <li><%- linkTo('Imprint', imprintsPath) %></li>
            <li><%- linkTo('@phpunconference', 'http://twitter.com/phpunconference') %></li>
          </ul>
        <div>
      </footer>
    </div>

<%= partial('layout_footer'); %>
